In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.model_selection import train_test_split

from sklearn.feature_selection import chi2

/Users/shri/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/Users/shri/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
# Loading the Titanic dataset from the Kaggle
data=pd.read_csv('datasets/titanic.csv')
data.shape

(891, 12)

In [3]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [11]:
data['Embarked'].unique()
data['Embarked'].map()

array(['S', 'C', 'Q', nan], dtype=object)

In [12]:
# The categorical variables in the titanica are Pclass, Sex and Embarked
# First we'll encode the labels into numbers

# for sex
data['Sex']=np.where(data['Sex']=='male',1,0)

# for Embarked
# Creating dict with key as value of data['Embarked'] and Value as index.
ordinal_labels={k:i for i,k in enumerate(data['Embarked'].unique())} 
data['Embarked']=data['Embarked'].map(ordinal_labels)

#Pclass already has a numerical values

In [13]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,NaN,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,1
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,0
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,NaN,0

In [15]:
# Splitting the dataset into training and testing as to avoid overfitting
x_train,x_test,y_train,y_test=train_test_split(data[['Pclass','Sex','Embarked']],
                                              data['Survived'],test_size=0.3,random_state=0)
x_train.shape,x_test.shape

((623, 3), (268, 3))

In [16]:
# Now, Calculate the chi2 p_value between each of the variables and the target
# it'll return 2 values, one contains the F-Scores which are then
# Evaluated against the chi2 distribution to obtain the p_value
# p_values are present in the second array.

f_score=chi2(x_train.fillna(0),y_train)
f_score

(array([21.61080949, 63.55447864, 11.83961845]),
 array([3.33964360e-06, 1.55992554e-15, 5.79837058e-04]))

In [18]:
p_values=pd.Series(f_score[1])
p_values.index=x_train.columns
p_values.sort_values(ascending=False)

Embarked    5.798371e-04
Pclass      3.339644e-06
Sex         1.559926e-15
dtype: float64

Unlike Mutual Information, higher the p_value it is less likely to  contribute to predicting the target. Hence, unless mentioned we look for p_values of the features with less than 0.05 or else less than the $\alpha$ value.

[ Note:
But lesser p_values need not always play a significant role in predicting the class mainly because large datasets usually tend to have lesser p_values for many features and hence serves no good.]

Also, for huge number of feature sets we can go for ranking modules like ``SelectKBest, SelectPercentile`` for selecting specified number of features.